# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

Nomes: Júlia Cavalcante, Marcelo Mesquita, Rafael Bittencourt

Turma:892

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por pessoa)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 18/11/2022;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [2]:
import pandas as pd
import datetime as dt
df_cadastro = pd.read_csv('input_files/cadastro.csv', sep =',') 
df_investimento_1 = pd.read_csv('input_files/investimento_parte1.csv', sep =',')
df_investimento_2 = pd.read_csv('input_files/investimento_parte2.csv', sep =',')
print(f"O dataframe 'cadastro' tem {df_cadastro.shape[0]} linhas")
#print(df_cadastro.info())
print(f"O dataframe 'investimento_parte1' tem {df_investimento_1.shape[0]} linhas")
#print(df_investimento_1.info())
print(f"O dataframe 'investimento_parte2' tem {df_investimento_2.shape[0]} linhas")
#print(df_investimento_2.info())

O dataframe 'cadastro' tem 38754 linhas
O dataframe 'investimento_parte1' tem 20000 linhas
O dataframe 'investimento_parte2' tem 24052 linhas

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [3]:
# Juntando os dois dataframes de investimentos, com as mesmas colunas, por meio das linhas.
df_investimento_total = pd.concat([df_investimento_1,df_investimento_2])

# Mostrando a quantidade de linhas do novo dataframe
df_investimento_total.shape[0]

44052

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [4]:
# Verificando Linhas Duplicadas
df_investimento_total.duplicated()

# Eliminando as duplicadas (Ignorando os indices, mantendo a primeira ocorrência e sem criar subset)
df_investimento = df_investimento_total.drop_duplicates(subset = None, keep = 'first',ignore_index=True)

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [5]:
# Juntando os dataframes cadastro e investimento, colocando as colunas do investimento à direita e alinhando pelos 'id'
df_cadas_invest = pd.merge(df_cadastro, df_investimento, on ='id', how = 'right')

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [132]:
# Ordenando pelo Id
df_ordenado = df_cadas_invest.sort_values(['id'])

# Redefinindo os índices, dropando os índices atuais e substituindo pelos novos
df_ordenado.reset_index(drop=True,inplace = True)

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

### Mostrando todas as colunas com dado faltantes

In [95]:
df_ordenado.isnull().sum()

id              0
Nome            0
Sexo            0
Nasc            0
Idade           0
Email           0
Lat_long        0
Job             0
Estado          0
Salario         0
Perfil          0
Ativo01      9724
Ativo02      6100
Ativo03      6169
Ativo04     11887
Ativo05      6191
Ativo06     19514
Ativo07         0
Nota1        3000
Nota2        2000
dtype: int64

### Porcentagem dos dados faltantes por coluna

In [133]:
series = df_ordenado.columns[df_ordenado.isnull().any()] # Series que têm ao menos 1 'NaN'
df_ordenado[series].isnull().sum() * 100 / df_ordenado.shape[0] # Mostra as porcentagens em cada coluna

Ativo01    25.091603
Ativo02    15.740311
Ativo03    15.918357
Ativo04    30.672963
Ativo05    15.975125
Ativo06    50.353512
Nota1       7.741136
Nota2       5.160758
dtype: float64

### Tratando dados faltantes da colunas de Ativos (01 ao 07)

In [134]:
# Verificar as linhas nas quais os valores da coluna 'Ativo01' é NaN
#df_ordenado[df_ordenado['Ativo01'].isnull()] 

# Substituindo os valores 'NaN' por 0
df_ordenado['Ativo01'].fillna(0,inplace = True)
df_ordenado['Ativo02'].fillna(0,inplace = True)
df_ordenado['Ativo03'].fillna(0,inplace = True)
df_ordenado['Ativo04'].fillna(0,inplace = True)
df_ordenado['Ativo05'].fillna(0,inplace = True)
df_ordenado['Ativo06'].fillna(0,inplace = True)
df_ordenado.isnull().sum()

id             0
Nome           0
Sexo           0
Nasc           0
Idade          0
Email          0
Lat_long       0
Job            0
Estado         0
Salario        0
Perfil         0
Ativo01        0
Ativo02        0
Ativo03        0
Ativo04        0
Ativo05        0
Ativo06        0
Ativo07        0
Nota1       3000
Nota2       2000
dtype: int64

### Conclusões do item 06

- Constatamos que não existe valores nulos atribuídos aos ativos, ou seja, os 'NaN' equivalem à falta de investimento por parte do cliente em tal ativo;

- Constatamos que as notas com valores 'NaN' siginificam ausência de avaliação por parte do cliente. Deste modo decidimos preservar os valores como 'NaN'

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

#### Manipulação

In [135]:
df_limpo = df_ordenado.copy(deep=True)

df_limpo['Total'] = df_limpo.iloc[:, -9:-3].sum(axis = 1)

df_limpo['Media'] = df_limpo[['Nota1','Nota2']].mean(axis = 1)

df_limpo['Dominio'] = df_limpo['Email'].str.split('@').str[1]

In [141]:

df_limpo.rename(columns={"Salario": "Renda"})
df_limpo.head()
#df_limpo['Renda'] = df_limpo['Renda'].str.replace('$','',regex = False).astype(float)

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,...,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,...,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,15604.12,44.701496,yahoo.com
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,...,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18118.48,67.459882,yahoo.com
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,...,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,16995.25,54.540483,yahoo.com
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,...,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,14915.70,56.073421,hotmail.com
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,...,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50468.23,24.014800,yahoo.com

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?